<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.siteLanguage %>" class="has-navbar-fixed-top no-js">
  <head>
    <!-- 📣 Mandatory for Good SEO -->
    <title><%= htmlWebpackPlugin.options.siteTitle %></title>

    <!-- 🎫 Site Icons -->
    <!-- Will be injected by Webpack -->

    <!-- ⚙ Device Meta-->
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />

    <!-- 📋 SEO -->
    <meta content="<%= htmlWebpackPlugin.options.siteDescription %>" name="description" />
    <meta content="<%= htmlWebpackPlugin.options.siteAuthor %>" name="author" />
    <meta content="noindex, nofollow" name="robots" />

    <!-- 📱 PWA, updates colour of app bar on devices, generally brand primary colour -->
    <!-- Will be injected by Webpack -->

    <!-- 😌 Scripts added to the head should get async or defer -->
    <!-- Will be injected by Webpack before the end of body -->

    <!-- 😌 CSS from external sites like CDN - we tell the browser to resolve DNS quickly with rel="dns-prefetch" -->
    <!-- Is only needed if you include third party plugins, uncomment if needed -->
    <!-- <link rel="dns-prefetch" href="css/path-to-css" /> -->

    <!-- 😌 Grab asset and cache it, can be <img /> or <script> too -->
    <!-- The CSS is handled by webpack, preload if using third party plugins -->
    <!-- <link as="style" rel="preload" href="https://unpkg.com/sanitize.css" /> -->
  </head>

  <body class="sitename" itemscope itemtype="http://schema.org/WebPage">
    <nav
      id="main-navbar"
      class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top is-bottom-mobile"
      data-bottom-on="xs,sm"
    >
      <div class="container">
        <a
          id="logo"
          class="navbar-brand"
          href="https://github.com/ioulian/frontend-workflow"
          target="_blank"
          rel="noopener noreferrer"
        >
          Frontend workflow
        </a>
      </div>
    </nav>
    <header class="jumbotron overflow-hidden position-relative rounded-0">
      <img
        data-src="<%= require('./src/demo/media/hero-bg.jpg') %>"
        class="fw-lazy-load fw-lazy-load--opacity-scale fw-full-size-in-parent"
        alt="Header image with sand"
      />
      <div class="container py-5">
        <div class="row">
          <div class="col col-lg-8 offset-lg-2 fw-parallax" data-depth="0.2">
            <h1 class="my-4">
              You are offline
            </h1>
            <h2 class="h3 font-weight-light mb-0">
              As you are surfing offline and this page hasn&quot;t been cached, we can't show it to you. Please wait and
              reconnect to internet or you can normally view visited pages.
            </h2>
          </div>
        </div>
      </div>
    </header>

    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col col-lg-8 offset-lg-2">
            <p>
              You are seeing this page because you are surfing offline. This site is optimized for offline usage but
              this page is not yet cached. You can view already visited pages while you are waiting for network.
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer class="text-center py-5 bg-light mt-4" itemscope itemtype="http://schema.org/WPFooter" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="col col-md-8 offset-md-2">
            <p>
              <strong>
                Code copyright 2020
                <a
                  href="https://github.com/ioulian"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="has-link-underline"
                  >Yulian Alexeyev</a
                >.
              </strong>
            </p>
            <p class="mb-0">
              <small>
                Code released under the
                <a
                  href="http://opensource.org/licenses/mit-license.php"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="has-link-underline"
                  >MIT license</a
                >.
              </small>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
